$smallNavDuration: 0.25s;
$smallNavEasing: $ease-in-out-sine;
$headerHeight:0;
$navTopHeight:87px;
$smallNavAt: 850px;
$smallNavTopHeight: 50px;
$smallNavHeight: 500px;

@mixin nav-line-height() {
	line-height: $navTopHeight;
	@media screen and (max-height: $smallNavHeight), (max-width: $smallNavAt) {
		line-height: $smallNavTopHeight;
	}
}

header {
	@include transform( translateZ(0) );
	position: fixed;
	top:0; left:0; right:0;
	z-index: 11;
}

.header-logo { 
	position: absolute;
	width: 120px; 
	top: 20px; left:0;
	display: block;
	img { 
		width: 100%; 
		display: block;
	}
	
	@media screen and (max-height: $smallNavHeight) {
		top: 5px;
	}
}

@media screen and (max-width: $collapseNavAt) {
	header { 
		top:0 !important;
		position: absolute;
		background: #fff; 
	}
	
	.header-logo {
		margin: 5px 0;
	}
}