/* hero */
.hero {
	
	position: relative;
	
	.swipe-item {
		position: relative;
	}
	
	
	.slick-dots {
		@include transform( translateX(-50%) );
		bottom:20px; left:50%;
		position: absolute;
		max-width: 400px;
		width: 80%;
		display: table !important;
		table-layout: fixed;
		border-spacing: 8px;
		z-index: 20;
		
		li {
			@include transition( 0.2s background $ease-in-out-sine );
			display: table-cell;
			background: #fff;
			cursor: pointer;
			&.slick-active { background: $primaryColor; }
			
			button {
				outline: none;
				display: block;
				font-size: 0;
				width: 100%;
				padding: 4px;
			}
		}
	}
	
}


.home {

	.hero {
		.swipe-item {
			&:before {
				content: "";
				z-index: 2;
				position: absolute;
				top:0; left:0; right:0; bottom:0;
				background: rgba($secondaryColor,0.7);
			}
		}
	}

	.hero-content-wrap {
		@include display( flex );
		max-width: 95%;
		width: 1140px;
		margin: 0 auto;
		height: 100vh;
		padding-bottom: 20vh;
		min-height: 500px;
		max-height: 800px;
		padding-top: $headerHeight + $navTopHeight;
		position: relative;
		z-index: 3;
		color: #fff;
		
		padding-top: $navTopHeight;
		@media screen and (max-height: $smallNavHeight) {
			padding-top: $smallNavTopHeight;
		}
		
	}

		@media screen and (max-width: $collapseNavAt) {
			.hero {
				.hero-content-wrap {
					@include justify-content( center );
					padding-top: 80px;
					text-align: center; 
					min-height: 0;
					p { display: none; }
					.hero-title { margin: 0 auto; }
				}
				
				.slick-dots { display: none !important; }
			}
		}

	.hero-content {
		@include align-self( flex-end );
		max-width: 800px;
		
		p { font-size: 20px; }
	}

}

body:not(.home) {
	.hero-content-wrap {
		height: 100vh;
		min-height: 500px;
		max-height: 800px;
		padding-top: $headerHeight + $navTopHeight;
		position: relative;
		z-index: 10;
	}
	
	.hero-content {
		background: $secondaryColor;
		padding: 30px 20px;
		text-align:center;
		position: absolute;
		bottom:0; left:0; right:0;
		color: #fff;
		border: solid #fff;
		border-width: 1px 0 0;
		
		.hero-title,
		p { max-width: 550px; }
		
		.hero-title { margin: 0 auto; }
		p {  margin: 20px auto; }
		
	}
	
	@media screen and (max-width: 650px) {
		.hero-content-wrap { min-height:250px; }
		.hero-content {
			padding: 15px;
			p { display: none; }
		}
	}
}

a.hero-title {
	@include link-transition();
	max-width: 550px;
	font-size: 52px;
	
	&:hover { color: #fff; }
}

.swipe-item-bg {
	position: absolute;
	z-index: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity:0;
	@include transition( opacity 0.25s $ease-in-out-sine );	
	left:0; right:0; bottom:0;
	
	top: $navTopHeight;
	@media screen and (max-height: $smallNavHeight), (max-width: $collapseNavAt) {
		top: $smallNavTopHeight;
	}
	
	&.loaded,
	.loaded & { opacity:1; }
}